.add-option {
   display: flex;
   flex-direction: row;
   padding: $m-size;

   &-error {
      color: $off-white;
      font-style: italic;
      margin: 0;
      margin-top: $m-size;
      padding: 0 $m-size;
   }

   &__input {
      background: $dark-blue;
      border: none;
      color: $off-white;
      border-bottom: 0.3rem solid darken($blue, 7%);
      flex-grow: 1;
      border-radius: 5px;
      margin-right: $s-size;
      padding: $s-size;
   }
}

@media (max-width: $mobile-breakpoint) {
   .add-option {
      flex-direction: column;

      &__input {
         margin: 0 0 $s-size 0;
      }
   }
}
